---
import BaseHead from '../components/BaseHead.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../config';
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<div class="centered">
			<div class="name fancy-text">nikko</div>
			<div class="about-me">
				<div class="line"><div class="fancy-text">software engineering</div> student,</div>
				<div class="line">studying c++. <div class="fancy-text">he/him</div></div>
			</div>
			<div class="links">
				<a href="links/telegram" target="_blank"><div class="link-div">tg</div></a>
				<a href="links/discord" target="_blank"><div class="link-div">dc</div></a>
				<a href="links/twitter" target="_blank"><div class="link-div">twt</div></a>
				<a href="links/github" target="_blank"><div class="link-div">git</div></a>
			</div>
		</div>
	</body>
</html>
