---
import Layout from "../layouts/Layout.astro";
import Button from "../components/Button.astro";
import { Icon } from "astro-icon/components";
---

<Layout title="nikkoxd">
  <main
    class="bg-noise flex h-screen items-center justify-center bg-purple-800 text-white"
  >
    <div>
      <h1 class="text-center text-5xl font-bold text-yellow-300">nikko</h1>
      <nav
        class="ml-auto mr-auto mt-5 table w-screen table-fixed border-collapse"
      >
        <div class="table-cell text-right">
          <Button href="#" style="link">My skills</Button>
        </div>
        <div class="table-cell w-fit max-w-full whitespace-nowrap text-center">
          <Button href="#"> <Icon name="ph:sparkle-fill" /> My socials </Button>
        </div>
        <div class="table-cell text-left">
          <a href="#">123</a>
        </div>
      </nav>
    </div>
  </main>
</Layout>
